SECRET_KEY="CHANGE-ME"

# 0 fALSE 1 TRUE
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1, localhost"

# POSTGRES CONFIG
DB_NAME="CHANG-ME"
DB_USER="CHANGE-ME"
DB_PASSWORD="CHANGE-ME"
DB_HOST="LOCALHOST"
DB_PORT="5432"