{% extends 'blog/base.html' %}

{% block content %}
  <main class="main-content section-wrapper">
    <div class="section-content-wide">
      <div class="section-gap">

        {% if page_obj %}
        <div class="card-grid">
          {% for post in page_obj %}
            {% include 'blog/partials/_post-card.html'%}
          {% endfor %}
        </div>
        {% else %}
        <div class="not-found center">
          <h1>Nada encontrado</h1>
          <p>
            Nada foi encontrado nesse link, clique em outro link ou vá para a 
            <a href="blog:index">home</a>
          </p>
        {% endif %}
        
      </div>
    </div>
  </main>
{% endblock content %}